<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Data</th>
    <th class="tabela__cabecalho__conteudo">Valor</th>
    <th class="tabela__cabecalho__conteudo">Destino</th>
  </thead>
  <tbody *ngIf="transferencias?.length > 0; else listClean">
    <tr class="tabela_linha" *ngFor="let transferencia of transferencias" >
      <td class="tabela__linha" >{{transferencia.data | date:'short' }}</td >
      <td class="tabela__linha">{{transferencia.valor | currency}}</td >
      <td class="tabela__linha">{{transferencia.destino}}</td>
    </tr>
  </tbody>
</table>
<!-- template do angular-->
<ng-template #listClean>
    <p>Nenhuma transferencia cadastrada!</p>
</ng-template>
